@import url(https://fonts.google.com/specimen/Poppins?query=popp);

*{
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #FFF6ED;
    --title-color: #040F73;
    --highlight-logo-color:#FF5B2E;
    --simple-text-color:#6A6E8F;
    --button-more-color:#2d3579;
    --icon-background-color-1:#90CCFF;
    --icon-background-color-2:#FABF3E;
    --icon-background-color-3:#5BD6E2;

    background: var(--background-color);
    padding: 24px;
    font-family: "Poppins", sans-serif;
}