@import url(https://fonts.google.com/specimen/Poppins?query=popp);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #FFF6ED;
    --title-color: #040F73;
    --highlight-logo-color:#FF5B2E;
    --simple-text-color:#424875;
    --button-more-color:#2d3579;
    --icon-background-color-1:#90CCFF;
    --icon-background-color-2:#FABF3E;
    --icon-background-color-3:#5BD6E2;

    padding: 24px;
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 980px;
    margin: auto;
}

body {
    background: var(--background-color);
}
.button {
    border: none;
    padding: 16px 28px;
    font-size: 15px;
    border-radius: 30px;
    font-weight: 700;
}
@media screen and (min-width:991px) {
    :root {
        padding: 0 70px;
    }
}