.faq-image{
    height: 43px;
    padding: 10px;
    border-radius: 50%;
}

.target{
    background-color: var(--highlight-logo-color);
}

.contact-phone {
    background-color: var(--icon-background-color-1);
}
.clock {
    background-color: var(--icon-background-color-2);
}