.faq-block {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    flex-wrap: wrap;
}
.faq-image{
    display: block;
    height: 64px;
    padding: 10px;
    border-radius: 50%;
    margin: 20px 10px 10px -20px;
}
.faq-content-block{
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}
.target{
    background-color: var(--highlight-logo-color);
}

.contact-phone {
    background-color: var(--icon-background-color-1);
}
.clock {
    background-color: var(--icon-background-color-2);
}

.have-question-heading {
    font-family: "Rubik", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: var(--title-color);
}
.have-question-heading-content {
    font-size: 19px;
    color: #424875;
}
.faq-link {
    text-decoration: none;
    color: #424875;
    font-size: 17px;
}
.faq-link:hover {
    text-decoration: underline;
    color: #424875;
}
.have-question-content {
    font-size: 17px;
    color: #424875;
}
.have-question-subheading {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #424875; 
    margin-bottom: auto;
}

