.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feed__brand {
    background-color: rgb(251, 241, 231);
    border-radius: 35px;
    padding: 20px 0;
    width: 275px;
}
.feed__brand-img {
    height: 90px;
    max-width: 100%;
    margin: auto;
    display: block;
}
