.contacts {
    background: white;
    border-radius: 10px;
    margin: 10px 15px;
    padding: 29px 25px;
}

.contacts_question {
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    color: var(--title-color)
}