@import url(https://fonts.google.com/specimen/Rubik?query=rubik);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.reviews-h1, .health__info-h1 {
    font-family: "Rubik", sans-serif;
    color: var(--title-color);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.reviews-p, .health__info-h2 {
    font-family: "Poppins", sans-serif;
    color: var(--simple-text-color);
    font-size: 19px;
    text-align: center;  
}
.health__info-p {
    font-family: "Poppins", sans-serif;
    color: var(--simple-text-color);
    font-size: 17px;
    text-align: justify;
}  
@media (min-width: 768px) {
    .health__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}
@media (min-width: 768px) {   
.reviews__contenier {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}
@media (min-width: 950px) {   
    .reviews__contenier {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.reviews__parrot, .reviews__dog, .reviews__cat {
    border: 1px solid transparent;
    background-color: #fff;
    color: rgb(106,110,143);
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    text-align: center; 
    padding: 16px 28px;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    }   

.health__info-img {
    display: block;
    width: 90%;
}
.health__info {
    padding-top: 50px;
    padding-bottom: 50px;
}
.health__info-text {
    padding-top: 50px;
    padding-bottom: 50px;
}
.reviews__contenier h2 {
    font-size: 19px;
    font-weight: bold;
    color: #040f73;
    padding-top: 15px;
    padding-bottom: 15px;
} 
.reviews__contenier h3 {
    font-size: 17px;
    padding-top: 15px;
} 
.reviews__contenier p {
  color: #ff5b2e;
  font-size: 12px;
}
.reviews__line {
    height: 3px;
    width: 15%;
    background-color: #ff5b2e;
    margin: auto;
}
.reviews__introduction {
    padding-bottom: 80px;
}